#home_page{ background: #f1f4f9;}

header .pc_menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width: 1280px){
    header .pc_menu {
        display: none;
    }
}
header .pc_menu > button {
    display: inline-block;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    background: #fff;
    font-size: 16px;line-height: 20px;
    color: #2864b0;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 5px 20px;
    margin: 0 18px 0 0;
}
#open_mob_ql {display: block;font-size: 14px;line-height: 14px;color: #2864b0; font-weight: 500;padding:14px 0;text-transform: uppercase;float:left;}

.content-wrapper{
    padding: 50px 0;
    min-height: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide_mob{margin-right: 16px;}
@media screen and (max-width:767px) {
    .hide_mob{display: none;}
    .content-wrapper{min-height: auto;}
}

.text-center{text-align: center;}
.text-justify{text-align: justify;}

.card{
    max-width: 700px;
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 13px;
    overflow: hidden;
}
@media screen and (min-width:767px) {
    .card{width: 700px;margin: 0 auto;}
}
.card p{
    font-weight: 500;
}

.form-group {
    margin-bottom: 2.5rem;
}

.mt-1 {margin-top: .3125rem!important;}
.mt-2 {margin-top: .625rem!important;}
.mt-3 {margin-top: 1.25rem!important;}
.mb-1 {margin-bottom: .3125rem!important;}
.mb-2 {margin-bottom: .625rem!important;}
.mb-3 {margin-bottom: 1.25rem!important;}
.ml-1 {margin-left: .3125rem!important;}
.ml-2 {margin-left: .625rem!important;}
.ml-3 {margin-left: 1.25rem!important;}
.mr-1 {margin-right: .3125rem!important;}
.mr-2 {margin-right: .625rem!important;}
.mr-3 {margin-right: 1.25rem!important;}

.pl-3 {padding-left: 1.25rem!important;}
.pl-4 {padding-left: 2.5rem!important;}
.pl-5 {padding-left: 3.75rem!important;}
.pr-3 {padding-right: 1.25rem!important;}
.pr-4 {padding-right: 2.5rem!important;}
.pr-5 {padding-right: 3.75rem!important;}

.btn-send {
    display: inline-block;
    width: 200px;
}

.jq-radio input, .jq-checkbox input {
    position: absolute;
    display: block;
    z-index: -1;
}

/* Alerts */
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.validation-invalid-label, .validation-valid-label {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: block;
    color: #f44336;
    position: relative;
    font-size: 0.75rem;
}

.tab-label-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.tab-label-wrap a{
    flex: 1 1 50%;
    text-align: center;
    padding: 20px;
    color: #fff;
    background: #2964b0;
    font-size: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-label-wrap a.active{
    color: #000;
    background: #fff;
}

.btn-action{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #fff;
    background: #86c06b;
    font-size: 20px;
}

.btn.pageback{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);    
}

.form-wrapper h3, .form-wrapper h4{
    color: #2864b0;
}

.annex-title{
    color:#ced6e1;
    font-size: 16px;
}
.btn.btn_plus {
    text-align: left;
    background-position: center center;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
}
.btn.btn_darkblue {
    background-color: #0059a5;
    color: #fff;
    width: auto;
}
.create-day-wrapper{
    color: #0059a5;
}

    table.agenda{
        font-size: 14px;
    }
    table.agenda tr{
        position: relative;
    }
    table.agenda textarea{
        border-radius: 0;
        height: auto;
        border: none;
        padding: 0;
    }
    table.agenda h3{
        margin-bottom: 0;
    }
    table.agenda .tbody-arrival td[colspan="3"],
    table.agenda .tbody-break td[colspan="3"],
    table.agenda .tbody-lunch td[colspan="3"]
    {
        font-size: 16px;
        font-weight: bold;
        color: #2864b0;
    }
    table.agenda td:nth-child(4){
        padding: 0;
        vertical-align: top;
        border-left-color: transparent;
    }
    table.agenda .tbody-part1 td:nth-child(3),
    table.agenda .tbody-part2 td:nth-child(3),
    table.agenda .tbody-part3 td:nth-child(3)
    {
        border-right-color: transparent;
    }
    table.agenda td:nth-child(4) button, .btn-minus{
        height: 20px;
        width: 20px;
        background-position: center center;
        background-image: url(/assets/img/minus.png);
        background-repeat: no-repeat;
    }

.progress{
    background-position: center center;
    background-image: url(/assets/img/line.png);
    background-repeat: repeat-x;
}

.description{
    text-align: right;
    font-style: italic;
    font-size: smaller;
}
/* Accordeon */
.accordeon{
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 13px;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;    
}
.acc-head{
    padding: 30px 60px 30px 30px;
    cursor: pointer;
    border-top: 1px solid #e4e4e6;
    position: relative;
    color: #222222;
    font-size: 20px;
}
.acc-head:after{
    content: ' ';
    position: absolute;
    width: 12px;
    height: 8px;
    background-image: url(/assets/img/open_select.png);
    background-repeat: no-repeat;
    top: 35px;
    right: 30px;
}
.acc-head.open:after{
    background-image: url(/assets/img/close_select.png);
}
.acc-body{
    display: none;
    transition: none;
    padding: 30px;
    border-top: 3px solid #2166ab;
    font-size: 16px;
    color: #818488;
}
