@charset "UTF-8";
/**RESET_BROWSER_STYLES**/
@-ms-viewport {
  width: device-width;
  initial-scale: 1;
}
@-moz-viewport {
  width: device-width;
  initial-scale: 1;
}
@-webkit-viewport {
  width: device-width;
  initial-scale: 1;
}
*,
:before,
:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
video,
audio,
canvas {
  display: inline-block;
}
span {
  display: inline-block;
}
a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
a,
button,
[type='button'],
[type='submit'] {
  transition: color 0.25s; background: 0.25s; opacity: 0.25s;
}
a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}
button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}
p {
  margin: 0;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
}
b,
strong {
  font-weight: 700;
}
img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
img {
  image-rendering: optimizeQuality;
}
svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}
progress {
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}
ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: top;
}
button,
label,
select,
summary,
[type='button'],
[type='submit'],
[type='reset'],
[type='checkbox'],
[type='radio'],
[type='range'] {
  user-select: none;
  cursor: pointer;
}
[type='button'],
[type='submit'],
[type='search'],
[type="radio"],
[type='range'],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
}
::-webkit-details-marker {
  display: none;
}
[type="radio"] {
  -webkit-appearance: radio;
}
[type='number'] {
  -moz-appearance: textfield;
}
::-ms-clear,
::-ms-reveal {
  display: none;
}
input,
textarea {
  width: 100%;
  color:#272727;
}
input {
  text-overflow: ellipsis;
}
textarea {
  overflow: auto;
  resize: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
:disabled {
  pointer-events: none;
}
::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
::placeholder,
::-moz-placeholder {
  opacity: 1;
  color:#7f7f7f;
}
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:3px;
height:0px
}
::-webkit-scrollbar-track {
background-color:#ecedee
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#999;
}
::-webkit-scrollbar-thumb:hover{
background-color:#999;
}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:3px;
height:0px
}
::-webkit-scrollbar{
width: 3px;
}
/**END_RESET_BROWSER_STYLES**/
:root{

}
@font-face {
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerRegular.eot');
	src: url('../fonts/FrutigerRegular.woff') format('woff'), url('../fonts/FrutigerRegular.ttf') format('truetype'), url('../fonts/FrutigerRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerItalic.eot');
	src: url('../fonts/FrutigerItalic.woff') format('woff'), url('../fonts/FrutigerItalic.ttf') format('truetype'), url('../fonts/FrutigerItalic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerBold.eot');
	src: url('../fonts/FrutigerBold.woff') format('woff'), url('../fonts/FrutigerBold.ttf') format('truetype'), url('../fonts/FrutigerBold.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerRomanBold.eot');
	src: url('../fonts/FrutigerRomanBold.woff') format('woff'), url('../fonts/FrutigerRomanBold.ttf') format('truetype'), url('../fonts/FrutigerRomanBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

html, body {background-color:#fff;width:100%;overflow-x:hidden;font-family: 'Frutiger';font-weight: normal;font-size:16px;color:#313131;}
p {font-size: 16px;line-height:24px;margin-bottom:1em;overflow:visible;color: #626262;}
a {cursor:pointer;color:#2864b0;}
button {cursor:pointer;}
a:hover {color:#3774c1;}
a:focus {color:#215aa1;}
a:visited {color:#86c06b;}

h1 {font-size: 30px;line-height: 1em; margin-bottom: 1em; color: #222;text-transform: uppercase;font-weight: bold;}
h2 {font-size: 24px;line-height: 1em; margin-bottom: 1em; color: #313131;font-weight: bold;}
h3 {font-size: 18px;line-height: 1em; margin-bottom: 1em; color: #313131;font-weight: bold;}
h4 {font-size: 18px;line-height: 1em; margin-bottom: 1em; color: #313131;font-weight: bold;}
h5 {font-size: 18px;line-height: 1em; margin-bottom: 1em; color: #313131;font-weight: bold;}

img {max-width: 100%;}
.container {display: block;width:1280px;margin:0 auto;position:relative;padding:0 10px;}
.container::before {display: table;width:100%;clear: both;content: '';}
.container::after {display: table;width:100%;clear: both;content: '';}
.row {display: block;position:relative;margin:0 -10px;}
.row::before {display: table;width:100%;clear: both;content: '';}
.row::after {display: table;width:100%;clear: both;content: '';}
.divider {clear:both;}
.content {width:100%;}
.mh70vh {min-height: 900px;}
.hidden {display: none;}
.col-pc2-tab2-mob1 {float:left;width:50%;padding: 0 10px;}
.col-pc2-tab1-mob1 {float:left;width:50%;padding: 0 10px;}
.col-pc1-tab1-mob1 {float:left;width:100%;padding: 0 10px;}

.btn {text-transform: uppercase;display: block;padding:13px 20px;height:40px;width:100%;border:none;border-radius: 20px;text-align: center;line-height: 16px;font-size: 16px;color:#fff;background-color: #2864b0;}
.btn:hover {background-color: #3774c1;}
.btn:active,
.btn:focus {background-color: #215aa1;}

.btn.btn_white {background-color: #fff;color:#0f4175;}
.btn.btn_blue {background-color: #6aa2ec;color:#fff;}
.btn.btn_orange {background-color: #f3b151;color:#fff;}
.btn.btn_green {background-color: #86c06b;color:#fff;}
.btn.btn_arrow_r {text-align: left;background-position: right 15px center;background-image: url('../img/arrow_right_btn.png');background-repeat: no-repeat;}
.btn.btn_more {margin:0 auto;width: 170px;}

.lightorange {background-color: #f4b152;border-color: #f4b152 !important;}
.orange {background-color: #f96b0a;border-color: #f96b0a !important;}
.green {background-color: #86c06a;border-color: #86c06a !important;}
.blue {background-color: #6aa3eb;border-color: #6aa3eb !important;}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"] {border:2px solid #dbe1e6;height:50px;width:100%;background-color: #fff;border-radius: 25px;padding:14px 20px 12px 20px;
	font-size: 16px;line-height: 20px;width:100%;outline: none;color:#313131;background-repeat: no-repeat;background-position: right 20px center;}
textarea {border:2px solid #dbe1e6;height:120px;width:100%;background-color: #fff;border-radius: 25px;padding:14px 20px 12px 20px;font-size: 16px;line-height: 20px;width:100%;background: #fff;outline: none;color:#313131;background-repeat: no-repeat;background-position: right 20px center;}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {border-color:#1d99d6;}

input[type="text"].success,
input[type="password"].success,
input[type="tel"].success,
input[type="email"].success,
input[type="date"].success,
input[type="number"].success {border-color:#86c06b !important;background-image: url('../img/success_field.png');}

textarea.wpcf7-not-valid,
input[type="text"].wpcf7-not-valid,
input[type="tel"].wpcf7-not-valid,
input[type="email"].wpcf7-not-valid,
input[type="number"].wpcf7-not-valid,
input[type="text"].error,
input[type="tel"].error,
input[type="email"].error,
input[type="number"].error {border-color:#f3b151 !important;background-image: url('../img/error_field.png');}

textarea[disabled] ,
textarea[readonly] ,
input[disabled] ,
input[readonly] {background-color:#f1f4f9;color:#d2dae7;pointer-events: none;}

textarea::placeholder,
input::placeholder {color:#d2dae7;}

.jq-selectbox.jqselect {position: relative;}
.jq-selectbox.jqselect select {display:none;}
.jq-selectbox.jqselect .jq-selectbox__select {border:2px solid #f1f4f9;height:50px;width:100%;background-color: #f1f4f9;border-radius: 25px;padding:14px 20px 12px 20px;
	font-size: 16px;line-height: 20px;width:100%;color:#313131;background-repeat: no-repeat;background-position: right 20px center;background-image: url('../img/open_select.png');}
.jq-selectbox.jqselect.opened .jq-selectbox__select {background-image: url('../img/close_select.png');}
.jq-selectbox.jqselect .jq-selectbox__dropdown {border:2px solid #f1f4f9;width:100%;background-color: #f1f4f9;border-radius: 25px;position: absolute;top:130%;left:0;z-index: 1000;}
.jq-selectbox.jqselect .jq-selectbox__dropdown li {height:50px;width:100%;background-color: #f1f4f9;border-radius: 25px;padding:14px 20px 12px 20px;font-size: 16px;line-height: 20px;width:100%;color:#313131;cursor: pointer;}
.jq-selectbox.jqselect .jq-selectbox__dropdown li:hover,
.jq-selectbox.jqselect .jq-selectbox__dropdown li.selected {color:#1d99d6;}

.jq-checkbox {border-radius: 3px;position: relative;display: inline-block;overflow: hidden;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;vertical-align: -4px;width: 20px;height: 20px;margin: 0 4px 0 0;border: 1px solid #dde2ef;background: #fff;cursor: pointer;}
.jq-checkbox input {display: none;}
.jq-checkbox.checked {background: #2864b0;}
.jq-checkbox.checked .jq-checkbox__div {width: 8px;height: 6px;margin: 5px 0 0 5px;border-bottom: 2px solid #fff;border-left: 2px solid #fff;-webkit-transform: rotate(-50deg);transform: rotate(-50deg);}

.jq-radio {border-radius: 50%;position: relative;display: inline-block;overflow: hidden;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;vertical-align: -4px;width: 20px;height: 20px;margin: 0 4px 0 0;border: 1px solid #dde2ef;background: #fff;cursor: pointer;}
.jq-radio input {display: none;}
.jq-radio.checked .jq-radio__div {width: 8px;height: 8px;margin: 5px 0 0 5px;background: #2864b0;border-radius: 50%;}

.jq-file {position: relative;}
.jq-file input {position: absolute;top: 0;right: 0;height: 100%;width: 100%;margin: 0;opacity: 0;z-index: 5;}
.jq-file .jq-file__name {border:2px solid #dbe1e6;height:50px;width:100%;background: #fff;border-radius: 25px;padding:14px 120px 12px 20px;font-size: 16px;line-height: 20px;width:100%;background: #fff;outline: none;}
.jq-file .jq-file__browse {cursor: pointer;background-color: #2864b0;display:block;border:none;height:46px;border-radius: 23px;width:120px;outline: none;text-align: center;position: absolute; top:2px;right:2px;z-index: 3;color:#fff;
  text-transform: uppercase;font-size: 16px;line-height: 16px;padding:16px 0 14px;}

ul:not([class]):not([style]) {margin:0 0 20px;}
ul:not([class]):not([style]) li {font-size: 16px;line-height: 20px;color: #576077;margin:0 0 10px;}
ul:not([class]):not([style]) li:before {content:'';width: 6px;height: 6px;margin: 5px 10px 0 0;background: #2864b0;border-radius: 50%;display: inline-block;vertical-align: top;}

ol:not([class]) {counter-reset: list; margin:0 0 20px;}
ol:not([class]) li {font-size: 16px;line-height: 20px;color: #576077;margin:0 0 10px;}
ol:not([class]) li:before {counter-increment: list;content: counters(list,".")".";width: 20px;height: 20px;margin: 0 0 0 0;color:#c0c7da;font-size: 16px;line-height: 20px; display: inline-block;vertical-align: top;}

table {width:100%;border-collapse: collapse;}
table td {border:1px solid #f1f4f9;padding:10px 15px;color:#313131;font-size: 14px;}
table[border="0"] td{border:none;}
table thead td {background: #f1f4f9;color:#626262;}

img.alignleft {float:left; margin:0 15px 15px 0;}
img.alignright {float:right; margin:0 0 15px 15px;}

blockquote {background: #f1f4f9; padding:30px 25px 20px 35px;margin-left:0;}
blockquote p {color: #626262; font-size: 16px;line-height: 22px;margin:0 0 10px;}
blockquote p b {color: #313131; font-size: 18px;font-weight: 500;}
blockquote img {float:left;margin:0 15px 15px 0;border-radius: 50%;}
.pb50 {padding-bottom: 50px;}
.wpcf7-response-output {justify-content: center;position: absolute;top: 0;left: 0;margin: 0 0 !important;width: 100%;height: 100%;background: #fff;z-index: 9;border-radius: 20px;text-align: center;display: flex;align-items: center;}
.wpcf7-response-output.wpcf7-display-none {display: none;}
span.wpcf7-not-valid-tip {display: none !important;}
.wpcf7-form {position: relative;}
.wpcf7-form-control-wrap {width:100%;}
#open_mob_menu, #mob_menu, #open_mob_ql {display: none;}

/*--------*/
body {padding-top:110px;}
body *:not(iframe) {-webkit-transition: all 0.5s;transition: all 0.5s;}
header {position:fixed;top:0;left:0;width: 100%;z-index: 999;background: #fff;height:110px;}
header #top_header {height:70px;background: #2864b0;padding:0 0;position: relative;z-index: 3;}
header .logo {float:left;display: block;padding:13px 0;}
header .logo img {height: 42px; width: auto; margin-right: 16px;}
header .logo span {color:#fff; font-size: 16px;line-height: 20px;font-weight: 500;margin-top:5px;}
header #open_search {float:right;height:20px;width: 20px;background-position: center;background-repeat: no-repeat;background-image: url('../img/search.png');margin:25px 0;}
header .pc_menu {float:right;/*width: 850px;*/text-align: right;}
header .pc_menu > li {display: inline-block;margin:0 18px 0 0;position: relative;}
header .pc_menu > li > a {display: block;height:70px;border-bottom: 4px solid transparent;border-top: 4px solid transparent;font-size: 16px;line-height: 20px;color: #fff;font-weight: 500;text-transform: uppercase;padding:22px 0;}
header .pc_menu > li.transp > a {color: #6aa3eb;}
header .pc_menu > li.current_page_item > a,
header .pc_menu > li.hovered > a,
header .pc_menu > li > a:hover {border-bottom: 4px solid #6aa3eb;}
header .pc_menu > li > ul {text-align:left; display: none;position: absolute; z-index: 1001;left:0; top:100%; width:200px;background: #fff; padding:20px 20px 0 20px;box-shadow: 0 5px 9px rgba(0,0,0,.1);}
header .pc_menu > li > ul li {display: block;margin:0 0;}
header .pc_menu > li > ul li a {display: block;height: auto;font-size: 14px;line-height: 16px;color: #212121;margin:0 0 20px;border:none;}
header .pc_menu > li > ul li a:hover,
header .pc_menu > li > ul li.current_page_item a {color: #6aa3eb;}
header .pc_menu > li > ul li.current_page_item a:before {content:' — ';height: auto;font-size: 14px;line-height: 16px;color: #6aa3eb;}
header .pc_menu > li.hovered > ul {display: block;}
header .searchform {overflow: hidden;display:none;border:2px solid #d2dae7;height:50px;width:0;background: #fff;border-radius: 25px;position: absolute;top:10px;right:10px;z-index: 5;}
header .searchform.opened {display:block;width:50%;}
header .searchform input {padding:14px 50px 12px;display:block;border:none;height:46px;font-size: 16px;line-height: 20px;border-radius: 23px;width:100%;background: #fff;outline: none;}
header .searchform input::placeholder {color:#d2dae7;}
header .searchform button {display:block;border:none;height:46px;border-radius: 23px;width:46px;background-color: #fff;outline: none;text-align: center;position: absolute; top:0;left:0;z-index: 6;}
header .searchform .close {display:block;border:none;height:30px;border-radius: 15px;width:30px;background-color: #f3b151;text-align: center;line-height: 30px;position: absolute; top:8px;right:8px;z-index: 6;}
header .searchform .close svg {transform: scale(0.5);}
header .searchform.opened + .pc_menu {opacity: 0;}
header #bottom_header {height:40px;background: #fff;padding:0 0;box-shadow: 0 1px 13px rgba(0,0,0,.1);position: relative;z-index: 2;}
header #bottom_header .social {float:right;padding:8px 0;height:40px;}
header #bottom_header .social li {display:inline-block;margin:0 0 0 5px;}
header #bottom_header .social li a {display:block;width:20px;height:20px;background-position: center;background-repeat: no-repeat;background-size: contain;}
header #bottom_header .social li a:hover {opacity: 0.8;}
header #bottom_header .social li a.fb {background-image: url('../img/fb.png');}
header #bottom_header .social li a.tw {background-image: url('../img/tw.png');}
header #bottom_header .social li a.in {background-image: url('../img/in.png');}
header #bottom_header .social li a.yt {background-image: url('../img/youtube.png');}
header #quick_links {z-index: 1;top:0;left:930px;background: #f1f5f9;position: absolute;padding: 50px 0 50px 50px;width: 340px;height:100vh;}
header #quick_links:after {top:0;left:100%;background: #f1f5f9;position: absolute;width: 9999px;height:100%;content:'';display: block;z-index: 8;}
header #quick_links .links {display: block;padding:0 0 20px;position: relative;margin:0 0 50px;}
header #quick_links .links:after {content:'';z-index: 9;display: block;height: 2px;background: #eaedf3; width:9999px;position: absolute;top:100%;left:-50px;}
header #quick_links .links li {display: block;margin:0 0 20px;}
header #quick_links .links li a {display: block;line-height: 26px;color: #313131; font-weight: 500; text-transform: uppercase;font-size: 16px;}
header #quick_links .links li a.current,
header #quick_links .links li a:hover {color: #2864b0;}
header #quick_links .links li a img {margin-right: 10px;}
header #quick_links .buttons .btn {margin:0 0 15px;}
header #quick_links .subscribe_widget {display: block;padding:50px 0 20px;margin:50px 0 0;position: relative;}
header #quick_links .subscribe_widget:before {content:'';z-index: 9;display: block;height: 2px;background: #eaedf3; width:9999px;position: absolute;top:0;left:-50px;}
header #quick_links .subscribe_widget .title {color:#313131;font-size: 16px;line-height: 16px;font-weight: 500;text-transform: uppercase;margin:0 0 12px;}
header #quick_links .subscribe_widget form {position: relative;}
header #quick_links .subscribe_widget form input {border:2px solid #d2dae7;height:50px;width:100%;background: #fff;border-radius: 25px;padding:14px 120px 12px 20px;font-size: 16px;line-height: 20px;width:100%;background: #fff;outline: none;}
header #quick_links .subscribe_widget form input::placeholder {color:#d2dae7;}
header #quick_links .subscribe_widget form button {display:block;border:none;height:50px;border-radius: 25px;width:120px;outline: none;text-align: center;position: absolute; top:0;right:0;z-index: 3;color:#fff;text-transform: uppercase;font-size: 16px;line-height: 16px;padding:14px 0 12px;}



.title_block {font-size: 30px;line-height: 1em; margin-bottom: 1em; color: #222;text-transform: uppercase;font-weight: bold;}

.latest {margin:50px 0 0 ;}
.latest .col {padding:0 10px;float:left;width: 50%;margin:0 0 36px;}
.latest .item {background-color: #f1f5f9;border-radius: 20px;overflow: hidden;position: relative;}
.latest .item .img {width: 100%;height:220px;background-position: center;background-size: cover;position: relative;}
.latest .item .img:before {width: 100%;height:100%;background: #2864b0;opacity: 0.7;content:'';position: absolute;top:0;left:0;}
.latest .item:hover .img:before {opacity: 0.5;}
.img {text-align: right;}
.img span.play {cursor: pointer;width:114px;height:114px;position: absolute;left:50%;top:50%;transform: translate(-50%, -50%);z-index: 3;content: '';display: block;background-image: url('../img/play.png');background-repeat: no-repeat;}
.img a.tag {display: inline-block;background: rgba(40,100,176,.8);height: 20px;border-radius: 10px;color: #fff;font-size: 12px;line-height: 12px;padding: 5px 10px;text-transform: uppercase;z-index: 3;margin: 10px 10px 0 0;}
.img a.tag.tag_big {background: rgba(40,100,176,.8);height: 32px;border-radius: 16px;color: #fff;font-size: 14px;line-height: 14px;padding: 10px 16px;text-transform: uppercase;z-index: 3;margin: 15px 15px 0 0;}
.img a.tag2 {position: relative;color: #fff;font-size: 16px;line-height: 16px;text-transform: uppercase;font-weight: 500;margin: 25px 20px 0 0;z-index: 6;}
.img a.tag sup {position: relative;margin-top:-3px;display: inline-block;}
.img > a {display: block;width: 100%;height: 100%;top:0;left:0;position: relative;z-index: 5;}
.img > .tags_in_img {position: absolute;top:0;left:0;width:100%;z-index: 6;height: 0;}
.latest .item .desc {padding:14px 20px 22px;}
.latest .item .desc .tags_new {margin: -4px 0 5px;display: flex;flex-wrap: wrap;}
.latest .item .desc .tags_new.in_big {display:none;}
.latest .item .desc .tags_new a {font-size: 12px;line-height: 12px;text-transform: uppercase;display: inline-block;margin: 0 10px 5px 0;letter-spacing: -0.6px;}


.latest .item .desc .date {color: #6aa3eb;font-size: 14px;line-height: 20px;font-weight: 500;margin:0 0 5px;}
.latest .item .desc .text {color: #313131;font-size: 14px;line-height: 20px;max-height: 60px;overflow: hidden;font-weight: 500;display: block;clear: both;}
.latest .item .desc .share {display: block;float:right;}
.latest .item .desc .share .open {margin-left:3px;height:20px;width:20px;background-position: center;background-image: url('../img/share_open.png');background-repeat: no-repeat;}
.latest .item .desc .share .open.active {transform:scaleX(-1);}
.latest .item .desc .share ul {display: none;width:0px;height:20px;overflow: hidden;}
.latest .item .desc .share ul.opened {width:auto;display: inline-block;}
.latest .item .desc .share ul li {display: inline-block;}
.latest .item .desc .share a {display: block;height:20px;width:20px;background-position: center;background-repeat: no-repeat;}
.latest .item .desc .share a:hover {opacity: 0.8;}
.latest .item .desc .share a.in {background-image: url('../img/share_in.png');}
.latest .item .desc .share a.tw {background-image: url('../img/share_tw.png');}
.latest .item .desc .share a.fb {background-image: url('../img/share_fb.png');}
.latest.latest_news .col {width: 33.33%;}
.latest.latest_news .col.big_item {width: 100%;margin:0 0 20px;}
.latest.latest_news .item .img {height:170px;}
.latest.latest_news .item .img:before {display: none;}
.latest.latest_news .item .desc .text {font-size: 16px;}
.latest.latest_news .big_item .item .img {height:470px;}
.latest.latest_news .big_item .item .img:before {display: block;width: 100%;height:100%;opacity: 0.7;content:'';position: absolute;top:0;left:0;
background: rgba(40,99,176,0);
background: -moz-linear-gradient(top, rgba(40,99,176,0) 0%, rgba(40,99,176,1) 100%);
background: -webkit-linear-gradient(top, rgba(40,99,176,0) 0%, rgba(40,99,176,1) 100%);
background: -o-linear-gradient(top, rgba(40,99,176,0) 0%, rgba(40,99,176,1) 100%);
background: -ms-linear-gradient(top, rgba(40,99,176,0) 0%, rgba(40,99,176,1) 100%);
background: linear-gradient(to bottom, rgba(40,99,176,0) 0%, rgba(40,99,176,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2863b0', endColorstr='#2863b0', GradientType=0 );}
.latest.latest_news .big_item .item .img span.tag {margin:20px 25px 0 0;}
.latest.latest_news .big_item .item .desc {padding:25px 25px 30px;position: absolute;bottom:0;left:0;width: 100%;z-index: 6;}
.latest.latest_news .big_item .item .desc .share {display: inline-block;vertical-align: middle;float:none;}
.latest.latest_news .big_item .item .desc .text {color: #fff;font-size: 20px;line-height: 26px;max-height: 130px;}
#home_page .subscribe {margin:50px 0 0 ;padding:40px;border-radius: 20px;background-image: url('../img/bg_subscribe.jpg');background-position: center;background-size: cover;display: flex;justify-content: space-between;align-items: center;}
#home_page .subscribe .title {color:#fff;font-size: 36px;line-height: 36px;font-weight: 500;margin:0 0;text-transform: uppercase;    margin-top: 3px;}
#home_page .subscribe .btn {width:190px;}
#home_page .network_widget {margin:50px 0 70px ;}
#home_page .network_widget .col {padding:0 10px;float:left;width: 50%;margin:0 0 30px;}
#home_page .network_widget .col:nth-child(2) {text-align: right;}
#home_page .network_widget .col iframe {border:1px solid #eee !important;}
footer {background: #2864b0;position: relative;z-index: 1000;padding:50px 0 22px;}
footer #pageup {cursor: pointer;z-index: 2;width:55px;height: 55px;border-radius: 0 0 10px 10px;background-position: center;background-repeat: no-repeat;background-color: rgba(241,245,249,.5);background-image: url('../img/pageup.png');position: absolute;top:-50px;right:10px;}
footer #pageup:hover {background-color: rgba(241,245,249,.8);}
footer .col1 {float:left;width:440px;padding:0 10px;}
footer .logo {display: block;padding:0 0 20px;}
footer .logo img {margin-right: 16px;vertical-align: top;}
footer .logo span {color:#fff; font-size: 16px;line-height: 20px;font-weight: 500;margin-top:5px;}
footer .col1 p {margin:0 0 20px;font-size: 14px;line-height: 20px;color: #fff;}
footer .col1 .soc li {display: inline-block;}
footer .col1 .soc li a {display: block;width:20px;height:20px;background-position: center;background-repeat: no-repeat;}
footer .col1 .soc li a.fb {background-image: url('../img/footer_fb.png');}
footer .col1 .soc li a.tw {background-image: url('../img/footer_tw.png');}
footer .col1 .soc li a.telegram {background-image: url('../img/footer_telega.png');}
footer .col2 {float:left;width:400px;padding:0 10px;}
footer .col2 .title {margin:18px 0 22px;font-size: 30px;font-weight: bold; line-height: 30px;color:#fff;text-transform: uppercase;}
footer .col2 address,
footer .col2 a {display: block;padding:0 0 0 25px;margin:0 0 16px;color:#fff; font-size: 16px;line-height: 22px;background-repeat: no-repeat;}
footer .col2 address {background-image: url('../img/icon_address.png');background-position: left 2px;}
footer .col2 a.phone {background-image: url('../img/icon_phone.png');background-position: 2px 3px;}
footer .col2 a.mail {background-image: url('../img/icon_mail.png');background-position: left 6px;}
footer .col3 {float:left;width:430px;padding:0 10px;}
footer .col3 .title {margin:25px 0 22px;font-size: 18px;font-weight: bold; line-height: 20px;color:#fff;text-transform: uppercase;}
footer .col3 ul li {display:inline-block;width:48%;}
footer .col3 ul li a {display:inline-block;font-size: 14px;line-height: 16px;margin:0 0 20px;text-transform: uppercase;color:#fff;}
footer .info {background: #fff;box-shadow: 0 0 21px rgba(0,0,0,.2);padding:10px 25px;margin:10px 0 0;display: flex;justify-content: space-between;align-items: center;}
footer .info .col {width:48%;}
footer .info img.fl_left {float:left;margin-right: 16px;}
footer .info img.fl_right {float:right;margin-left: 16px;}
footer .info p {margin:7px 0 0;color:#313131; font-size:13px;line-height: 18px;}
footer .info p.center {text-align: center;}

/*--------*/
#breadcrumbs {padding:30px 0;}
#breadcrumbs li {display: inline-block;margin:0 30px 0 0;}
#breadcrumbs li a {display: block;position: relative;font-size: 15px;line-height: 15px;color:#0e3d90;text-transform: uppercase;}
#breadcrumbs li span {display: block;font-size: 15px;line-height: 15px;color:#6a6a6a;text-transform: uppercase;}
#breadcrumbs li a:after {display: block;content:'';top:-1px;right:-22px;width:8px;height:13px;background-image: url('../img/arrow_right_breadcrumbs.png');background-position: center;background-repeat: no-repeat;z-index: 2;position: absolute;}

#single_page .img {margin:0 0 25px;}
#single_page .img img {width:100%;}
#single_page .page_bottom_line {border-bottom: 1px solid #d8d8d8;padding:40px 0 0;}
.map_wrap {padding:50px 0 100px;}
.map_wrap .title_block {margin-bottom: 1.2em;text-align: center;font-weight: 500;}
.map_wrap .map {width:864px;height:416px;padding:1px;background-position: center;background-repeat: no-repeat;background-image: url('../img/map.svg');}
.map_wrap .map .marker {cursor: pointer;width:25px;height: 25px;border-radius: 50%;border:5px solid #009ad7;background: transparent;position: absolute;z-index: 98;}
.map_wrap .map .marker .title {display:none;width:110px;padding:10px;text-align: center;background: #009ad7;position: absolute;left:-47px;bottom:200%;box-shadow: 0 1px 16px rgba(0,0,0,.12);}
.map_wrap .map .marker.hovered {z-index: 200;}
.map_wrap .map .marker.hoveredd {z-index: 199;}
.map_wrap .map .marker.hovered .title {display:block;z-index: 100;}
.map_wrap .map .marker.hoveredd .title {display:block;z-index: 99;}
.map_wrap .map .marker .title:after {width:14px;height:14px;border:7px solid transparent;border-top:7px solid #009ad7;position: absolute;top:100%;left:48px;content:'';}
.map_wrap .map .marker .title span {display: block;font-size: 16px;line-height: 22px;color: #fff;font-weight: 500;}
.map_wrap .map .marker .title a {display: inline-block;font-size: 14px;line-height: 14px;color: #fff;text-decoration: underline;text-transform: uppercase;}

#country_page .page_bottom_line {border-bottom: 1px solid #d8d8d8;padding:40px 0 0;}
#country_page .map_wrap {padding:0 0 50px;}
#country_page .latest {padding:0 0 100px;}
#country_page .latest .title_block {text-align: center;}

#news_page h1 {margin:0 0;}
#news_page .latest {padding:0 0 100px;margin:0 0;}

.news_tab {height: 66px;border-bottom: 2px solid #e6e5e5;margin:0 0 25px;}
.news_tab li {display:inline-block;margin:0 35px 0 0;}
.news_tab li:last-child {margin:0 0 0 0;}
.news_tab li a {padding:22px 10px 20px; display:block;margin:0 0 0 0;color:#989898;border-top:4px solid transparent;border-bottom:4px solid transparent; line-height: 16px;font-size: 16px;font-weight: 500;text-transform: uppercase;}
.news_tab li a.active {border-bottom:4px solid #2864b0;color:#313131;}
.news_tab li a:hover {color:#313131;}
.tabs_content .tab {display: none;}
.tabs_content .tab.opened {display: block;}

.tags_list li {display:inline-block;margin:0 10px 25px 0;}
.tags_list li a {padding:9px 15px; display:block;color:#313131;border:1px solid #e6e5e5;font-size: 12px;line-height: 14px;text-transform: uppercase;height:30px;border-radius: 15px;background: #fff;}
.tags_list li a.active , .tags_list li a:hover {border-color:#2864b0;}
.tags_list li a sup {color:#009ad7;margin-top: -4px;}
.tags_list li a span {height:18px;width:18px;border-radius: 50%;display: inline-block;vertical-align: top;position: relative;margin: -4px 6px 0 -8px;}

.pagination {text-align: center;}
.pagination ul {display: inline-block;height: 50px;border:1px solid #f1f5f9; border-radius: 25px;padding: 8px 15px;}
.pagination ul li {display: inline-block;vertical-align: top;height: 34px;margin:0 5px;line-height: 38px;}
.pagination ul li.long {width:80px;}
.pagination ul li.arrows {margin:0 0;}
.pagination ul li a {display: block;height: 34px;width:34px;border-radius: 50%;text-align: center;line-height: 38px;font-size: 17px;color:#313131;background-color: #fff;}
.pagination ul li a:hover {box-shadow: 0 7px 10px rgba(40,100,176,.3);}
.pagination ul li span {display: block;height: 34px;width:34px;border-radius: 50%;text-align: center;line-height: 38px;font-size: 17px;color:#fff;background-color: #2864b0;box-shadow: 0 7px 10px rgba(40,100,176,.3);}
.pagination ul li.arrows.prev a {background-position: center;background-repeat: no-repeat;background-image: url('../img/arrow_left_pagi.png');}
.pagination ul li.arrows.next a {background-position: center;background-repeat: no-repeat;background-image: url('../img/arrow_right_pagi.png');}

#single_news {padding:0 0 70px;}
#single_news .img.img_tag {margin:0 0 25px;position: relative;border-radius: 20px;overflow: hidden;}
#single_news .img .tags {position: absolute;top:0;right:0;z-index: 3;}
#single_news .img img {width:100%;}
#single_news .date_added {color:#6aa3eb;font-size: 14px;margin:0 0 13px;display: block;font-weight: 500;}
#single_news h1 {margin:0 0 20px;text-transform: none;}
#single_news .page_bottom_line {border-bottom: 1px solid #d8d8d8;padding:40px 0 8px;text-align: right;}
#single_news .page_bottom_line ul li {display: inline-block;height: 20px;line-height: 25px;color: #d8d8d8;font-size: 14px;vertical-align: top;}
#single_news .page_bottom_line ul li  a {display: block;height:20px;width:20px;background-position: center;background-repeat: no-repeat;}
#single_news .page_bottom_line ul li  a:hover {opacity: 0.8;}
#single_news .page_bottom_line ul li  a.in {background-image: url('../img/share_in.png');}
#single_news .page_bottom_line ul li  a.tw {background-image: url('../img/share_tw.png');}
#single_news .page_bottom_line ul li  a.fb {background-image: url('../img/share_fb.png');}

.latest .item .desc .text + .share {margin: 10px 0;}

#publications_page .latest {padding:0 0 100px;margin:0 0;}

#videos_page {padding:0 0 100px;}
.videos .item  {padding:0 0 24px;border-bottom: 1px solid #e6e5e5;margin:0 0 40px;}
.videos .item .video {padding-bottom:52%;width: 100%;position: relative;margin:0 0 20px;border-radius: 20px;overflow: hidden;}
.videos .item .video iframe {width: 100%;height:100%;position: absolute;top:0;left:0;}
.videos .item .date {color: #6aa3eb;font-size: 14px;line-height: 20px;font-weight: 500;margin:0 0 5px;display: block;}
.videos .item .title {color: #313131;font-size: 24px;line-height: 28px;margin:0 0;display: block;}

#photos_page {padding:0 0 100px;}
#photos_page .latest {margin:0 0;}
#photos_page .latest .col {margin: 0 0 20px;}
#photos_page .pagination {margin-top:50px;}

#useful_page {padding:0 0 80px;}
#useful_page h1 {margin:0 0;}
#useful_page .links_list {padding:20px 0 0;}
#useful_page .links_list li {display: block;margin:0 0 20px;padding:0 0 20px;border-bottom: 1px solid #d8d8d8;font-size: 18px;line-height: 28px;color: #626262;}
#useful_page .links_list li a {color: #1d99d6;}

#events_page h1 {margin:0 0;}
#events_page .pagination {margin-top:50px;}
.events {padding:0 0 100px;margin:0 0;}
.events .event {padding:15px 10px 15px 0;margin:0 0 16px;background: #f4f7fa;display: flex;align-items: center;justify-content: space-between;border-left:4px solid transparent;}
.event .date {width:100px;min-width: 100px;font-size: 14px;line-height: 20px;color: #313131;text-align: center;}
.event .desc .title {font-size: 16px;line-height: 24px;font-weight: 500;margin:0 0;}
.event .desc .text {font-size: 14px;line-height: 20px;margin:0 0 10px;}
.event .desc span {color: #313131;display: inline-block;font-size: 14px;line-height: 20px;margin:0 30px 10px 0;}
.event .desc span b {font-weight: 500;}

#search_page h1 span {color:#2864b0;}
#search_page .search_row {border-bottom: 1px solid #e6e5e5;padding:0 0 35px;margin:0 0 35px;}
#search_page .search_row:last-child {border-bottom: none;}
#search_page .search_row .search_title_row {font-weight: 500;color: #313131; font-size: 24px;line-height: 24px;margin:0 0 26px;}
#search_page .search_row .search_title_row span {color: #aeaeae;}
#search_page .events .btn_more {margin:40px auto 0;}


.cal_event.lightorange {background-color: #fce7cb;}
.cal_event.orange {background-color: #fdd2b5;}
.cal_event.green {background-color: #daecd2;}
.cal_event.blue {background-color: #d2e3f9;}

.cal_event.lightorange > p {color: #f4b152;}
.cal_event.orange > p {color: #f96b0a;}
.cal_event.green > p {color: #86c06a;}
.cal_event.blue > p {color: #6aa3eb;}

.cal_event.lightorange path {fill: #f4b152;}
.cal_event.orange path {fill: #f96b0a;}
.cal_event.green path {fill: #86c06a;}
.cal_event.blue path {fill: #6aa3eb;}


.calendar_wrap {width:100%;max-width:863px;border-top: 2px solid #edf0f2;border-left: none;border-right: none;border-bottom: none;margin:0 0 30px;}
.calendar_wrap .head {border-top:none;border-left: 2px solid #edf0f2;border-right: 2px solid #edf0f2;border-bottom: 2px solid #edf0f2;padding:10px 15px;height:60px;position: relative;}
.calendar_wrap .head .change_week {position: absolute;right:15px;top:10px;height:40px;border-radius: 20px;background: #f1f5f9;padding:9px 10px;line-height: 20px;}
.calendar_wrap .head .change_week span {color:#2864b0;vertical-align: top;display: inline-block;margin:0 10px;line-height: 24px;font-size: 16px;}
.calendar_wrap .head .change_week button {opacity: 0.8;vertical-align: top;display: inline-block;margin:0 0;width:12px;height: 20px;background-position: center;background-repeat: no-repeat;background-image: url('../img/arrow_left_pagi.png');}
.calendar_wrap .head .change_week button.next {background-image: url('../img/arrow_right_pagi.png');}
.calendar_wrap .head .change_month {position: absolute;left:50%;top:10px;height:40px;padding:9px 10px;line-height: 20px;transform: translateX(-50%);}
.calendar_wrap .head .change_month span {cursor: pointer;color:#313131;vertical-align: top;display: inline-block;margin:0 15px;line-height: 24px;font-size: 18px;font-weight: 500;}
.calendar_wrap .head .change_month button {vertical-align: top;display: inline-block;margin:0 0;width:12px;height: 20px;background-position: center;background-repeat: no-repeat;background-image: url('../img/arrow_left_pagi.png');}
.calendar_wrap .head .change_month button.next {background-image: url('../img/arrow_right_pagi.png');}
.calendar_wrap .head .change_col_row {position: absolute;left:20px;top:10px;height:40px;padding:8px 0;line-height: 20px;}
.calendar_wrap .head .change_col_row button {vertical-align: top;display: inline-block;margin:0 4px 0 0;width:17px;height: 20px;}
.calendar_wrap .head .change_col_row button span {display: block;margin:2px 0;width:100%;height: 3px;background-color: #d4d4d4;border-radius: 2px;float:left;}
.calendar_wrap .head .change_col_row button.active span {background-color: #6aa3eb;}
.calendar_wrap .head .change_col_row button.cr_row span:nth-child(2),
.calendar_wrap .head .change_col_row button.cr_row span:nth-child(3) {display: block;margin:0 4px 0 0;width:3px;height: 13px;}
.calendar_wrap .head .change_col_row button.cr_row span:nth-child(4) {display: block;margin:0 0 0 0;width:3px;height: 13px;}

.calendar_wrap .calendar  {width:100%;}
.calendar_wrap .calendar .calendar_content {width:100%;max-width:863px;border-left: 2px solid #edf0f2;}
.calendar_wrap .calendar .col {width:123px;float:left;border-top:none;border-left:none;border-right: 2px solid #edf0f2;border-bottom: 2px solid #edf0f2;}
.calendar_wrap .calendar .col .day {height:62px;background-color:#f1f5f9;text-align: center;font-size: 15px;line-height: 16px;padding:23px 0;}
.calendar_wrap .calendar .col .day b {font-weight: 500;}
.calendar_wrap .calendar .col .cal_event {cursor: pointer;border-left: 4px solid transparent;position: relative;padding:10px;min-height: 70px;}
.calendar_wrap .calendar .col .cal_event:before {height:2px;width:123px;background: #edf0f2;position: absolute;top:0;left:-4px;content: '';}
.calendar_wrap .calendar .col .cal_event .name {margin:0 0 15px;font-size: 12px;line-height: 14px;font-weight: 500;}
.calendar_wrap .calendar .col .cal_event .place {margin:0 0;font-size: 12px;line-height: 14px;display: block;}
.calendar_wrap .calendar .col .cal_event .place sup {display: none;}
.calendar_wrap .calendar .col .cal_event .place svg {width:14px;height: 14px;}
.calendar_wrap .calendar .col .cal_event .info {display: none;box-shadow: 0 1px 13px rgba(0,0,0,.1);width:225px;border-radius: 14px;padding:18px;background: #fff;position: absolute;z-index: 1001;left:90%;top:50%;}
.calendar_wrap .calendar .col .cal_event.active .info {display: block;}
.calendar_wrap .calendar .col .cal_event .info .title {font-size: 16px;line-height: 24px;font-weight: 500;margin:0 0 10px;}
.calendar_wrap .calendar .col .cal_event .info .title:after {width:25px;height: 3px;background: #6aa3eb;content: '';display: block;}
.calendar_wrap .calendar .col .cal_event .info .text {font-size: 14px;line-height: 20px;margin:0 0 5px 0;}
.calendar_wrap .calendar .col .cal_event .info span {color: #313131;display: block;font-size: 14px;line-height: 20px;margin:0 0 5px 0;}
.calendar_wrap .calendar .col .cal_event .info span b {font-weight: 500;}
.calendar_wrap .calendar .col .cal_event .info .close {height:14px; width: 14px; background-position: center;background-image: url('../img/close_popover.png');background-repeat: no-repeat;cursor: pointer;position: absolute;top:10px;right:10px;}
.calendar_wrap .calendar[data-type="rows"] .col {width: 102%;}
.calendar_wrap .calendar[data-type="rows"] .col .cal_event.zero {display: none;}
.calendar_wrap .calendar[data-type="rows"] .col .cal_event:before {width:100%;}

.calendar_wrap .mCSB_scrollTools.mCSB_scrollTools_horizontal {display: none !important;}
.calendar_wrap .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #c6d1dc !important;height:16px !important;}
.calendar_wrap .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {background-color: #f1f5f9 !important;height:16px !important;}
.calendar_wrap .mCSB_scrollTools.mCSB_scrollTools_horizontal {height: 24px !important;}
.calendar_wrap .mCSB_horizontal.mCSB_inside>.mCSB_container {margin-bottom: 50px;}

#gallery_modal {display: none;position: fixed;top:0;left:0;width: 100%;height: 100%;background: rgba(255,255,255,0.3);overflow: auto;z-index: 2000;}
#gallery_modal .bg {position: absolute;top:0;left:0;width: 100%;height: 100%;background: transparent;z-index: -1;}
#gallery_modal .modal_content {margin:200px 0;background: #fff;border-radius: 20px;padding: 40px;position: relative;box-shadow: 0 1px 13px rgba(0,0,0,.1);}
#gallery_modal .modal_close {height:20px; width: 20px;cursor: pointer;position: absolute;top:30px;right:25px;}
#gallery_modal .modal_close:before {height:4px; width: 26px;left:0;top:0;border-radius: 2px;content: '';display: block;position: absolute;transform: rotate(45deg);background: #2864b0;}
#gallery_modal .modal_close:after {height:4px; width: 26px;left:0;top:0;border-radius: 2px;content: '';display: block;position: absolute;transform: rotate(-45deg);background: #2864b0;}
#gallery_modal iframe {width:100%;}

.gallery_modal_title {margin:0 0 10px;font-size: 17px;line-height: 20px;font-weight: 500;color: #313131;}
.gallery_description {width:315px;float:right;}
.gallery_description p {font-size: 16px;line-height: 24px;color: #313131;}
.gallery_description p.count {margin: 40px 0 0;font-weight: 500;text-transform: uppercase;}
.gallery {width:835px;float:left;}

.gallery .swiper-container {width: 100%;height: 300px;margin-left: auto;margin-right: auto;}
.gallery .swiper-slide {background-size: cover;background-position: center;height: 100%;}
.gallery .gallery-top {height: 520px;width: 100%;margin-bottom: 10px;}
.gallery .gallery-thumbs {height: 100px;padding-bottom: 20px;}
.gallery .gallery-thumbs .swiper-slide {width: 20%;height: 100%;opacity: 0.8;}
.gallery .gallery-thumbs .swiper-slide-thumb-active {opacity: 1;}
.gallery .swiper-button-next, .gallery .swiper-button-prev {width: 36px;height: 36px;margin-top: -18px;border-radius: 18px;background-color: #fff;box-shadow: 0 1px 13px rgba(0,0,0,.1);background-size: 10px 20px;}
.gallery .swiper-container-horizontal>.swiper-scrollbar {position: absolute;left: 0;bottom: 0;z-index: 50;height: 10px;width: 100%;background: #fff;border-radius: 0;}
.gallery .swiper-scrollbar:before {height: 2px;background: #cacaca;width:100%;top:4px;left:0;content: '';display: block;position: absolute;}
.gallery .swiper-scrollbar-drag {height: 10px;background: #cacaca;border-radius: 0;width:100px;}


.frame {padding-bottom:52%;width: 100%;position: relative;margin:0 0 20px;overflow: hidden;}
.frame iframe {width: 100%;height:100%;position: absolute;top:0;left:0;}

/*--------*/

.disclaimer{
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	padding: 10px;
	margin-top: 15px;
	background: #144c96;
}

.disclaimer img{
	flex-grow: 0;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	margin-right: 15px;
}

.disclaimer p{
	flex-grow: 1;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	margin: 0;
	color: #fff;
	font-size: 13px;
}
