@media screen and (max-width:1280px) {
	.container {width:710px;}
	.content {width: 100%;}
	.mh70vh {min-height: 10vh;}
	.col-pc2-tab1-mob1 {width:100%;}
	header .pc_menu {display: none;}
	header #quick_links {left: 0;width: 100%;height: auto;padding: 30px 10px 30px 10px;display: none;}
	header #quick_links .links {width:50%;float:left;padding: 0 0;margin: 0 0;}
	header #quick_links .buttons {width:50%;float:right;padding: 0 25px;}
	header #quick_links .links::after {display: none;}
	header #quick_links::after {left: -100%;width: 300%;z-index: -1;box-shadow: 0 1px 13px rgba(0,0,0,.1);}
	header #quick_links .subscribe_widget {display: none;}
	#open_mob_ql {display: block;font-size: 14px;line-height: 14px;color: #2864b0; font-weight: 500;padding:14px 0;text-transform: uppercase;float:left;}
	#open_mob_ql span {display: inline-block;height:10px;width:10px;border:5px solid transparent;border-top:5px solid #2864b0;margin:2px;}
	#open_mob_ql.active span {border:5px solid transparent;border-bottom:5px solid #2864b0;margin:-2px 2px;}
	#open_mob_menu {display: block;float: right;height: 30px;width: 30px;margin: 20px 0 20px 20px;}
	#open_mob_menu span {display: block;height: 4px;width: 100%;margin: 3px 0; background: #fff;border-radius: 2px;}
	#mob_menu {position: fixed;top:0;left:0;width:100%;height:100%;background: #2864b0;z-index: 1002;padding-top:110px;}
	#mob_menu.opened {display: block;overflow: scroll;}
	#mob_menu .mob_menu {display: block;width:100%;}
	#mob_menu .mob_menu > li {display: block;width:50%;float:left;margin:0 0 20px;position: relative;}
	#mob_menu .mob_menu > li > a {display: inline-block;height:54px;border-bottom: 4px solid transparent;border-top: 4px solid transparent;font-size: 30px;line-height: 30px;color: #fff;font-weight: 500;text-transform: uppercase;padding:12px 0;}
	#mob_menu .mob_menu > li.transp > a {color: #6aa3eb;}
	#mob_menu .mob_menu > li.current_page_item > a,
	#mob_menu .mob_menu > li.hovered > a,
	#mob_menu .mob_menu > li > a:hover {border-bottom: 4px solid #6aa3eb;}
	#mob_menu .mob_menu > li > ul {text-align:left; display: none;position: absolute; z-index: 1001;left:0; top:100%; width:90%;background: #fff; padding:20px 20px 0 20px;box-shadow: 0 5px 9px rgba(0,0,0,.1);}
	#mob_menu .mob_menu > li > ul li {display: block;margin:0 0;}
	#mob_menu .mob_menu > li > ul li a {display: block;height: auto;font-size: 24px;line-height: 26px;color: #212121;margin:0 0 20px;border:none;}
	#mob_menu .mob_menu > li > ul li a:hover,
	#mob_menu .mob_menu > li > ul li.current_page_item a {color: #6aa3eb;}
	#mob_menu .mob_menu > li > ul li.current_page_item a:before {content:' — ';height: auto;font-size: 24px;line-height: 26px;color: #6aa3eb;}
	#mob_menu .mob_menu > li.hovered > ul {display: block;}
	#mob_menu .close_menu {position: absolute;right:10px;top:-90px;z-index: 2;cursor: pointer;}
 .latest.latest_news {margin: 30px 0 0;}
 .latest.latest_news .big_item .item .img {height: 370px;}
 .latest.latest_news .col.big_item {margin: 0 0 30px;}
	#home_page .subscribe {padding: 40px 25px;}
	#home_page .subscribe .title {font-size: 30px;}
	footer {z-index: 998;padding: 25px 0 32px;}
	footer #pageup {top:-25px;}
	footer .col1 {width: 50%;padding: 0 10px;}
	footer .col2 {width: 50%;padding: 0 10px;}
	footer .col3 {width: 100%;padding: 0 10px;}
	footer .col1 p {line-height: 16px;margin:0 0 10px;}
	footer .col2 .title {margin: 16px 0 20px;}
	footer .col3 ul li {width: auto;margin-right: 45px;}
	footer .info {display: block;position: relative;}
	footer .info:after {display: table;content:'';clear:both;}
	footer .info .col {width: 100%;clear: both;}
	footer .info .col:nth-child(1) {margin-bottom: 25px;}
	footer .info p {font-size: 14px;margin: 0 0;padding-top:10px;}

	.map_wrap {padding: 50px 0px 0px;}
	.map_wrap .map {transform: scale(0.8) translate(-110px, -50px);}

	.videos .item  {padding:0 0 15px;margin:0 0 20px;}

	.calendar_wrap .mCSB_scrollTools.mCSB_scrollTools_horizontal {display: block !important;}
	.calendar_wrap .head .change_week span {display:none;}
	.calendar_wrap .head .change_week button.next {margin-left:55px;}
	.calendar_wrap .calendar .col .cal_event .info {width:240px;position: fixed;z-index: 1099;left:50%;top:50%;transform: translate(-50%, -50%);}
	.calendar_wrap .calendar .col .cal_event .info::before {width:3000px;height:3000px;position: fixed;z-index: -2;left:-1500px;top:-1500px;background: rgba(40, 100, 176,0.7);content:'';display: block;}
	.calendar_wrap .calendar .col .cal_event .info::after {width:100%;height:100%;position: absolute;z-index: -1;left:0;top:0;background:#fff;content:'';display: block;box-shadow: 0 1px 13px rgba(0,0,0,.1);border-radius: 14px;}

	#gallery_modal .modal_content {margin:100px 0;padding: 30px 30px;}
}

@media screen and (max-width:1000px) {
	.gallery_modal_title {font-size: 16px;}
	.gallery_description {width:100%;float:none;}
	.gallery_description p {font-size: 14px;line-height: 20px;}
	.gallery_description p.count {margin: 30px 0 0;}
	.gallery {width:100%;float:none;}
	.gallery .swiper-container {height: 300px;}
	.gallery .gallery-top {height: 420px;}
	.gallery .gallery-thumbs {height: 60px;}
	.gallery .gallery-thumbs .swiper-slide {width: 20%;}
}

@media screen and (max-width:767px) {
	.container {width:350px;}
	.col-pc2-tab2-mob1 {width:100%;}
	header .logo {padding: 13px 0 0;}
	header .logo span {margin-top: -8px;width: 170px;}
	header #open_search {display: none;}
	#mob_menu {padding-top: 70px;overflow: scroll;}
	#mob_menu .close_menu {top: -50px;}
	#mob_menu .mob_menu > li {margin: 0 0 10px;width:100%;}
	#mob_menu .mob_menu > li > ul {width:100%;}
	header #quick_links .links {width:100%;margin: 0 0 20px;}
	header #quick_links .buttons {width:100%;padding: 0 25px 0 0;}
	header #quick_links .links::after {display: block;left:-100%;}
 .latest.latest_news .big_item .item .img {height: 170px;}
 .latest.latest_news .col {width: 100%;}
 /*.latest.latest_news .big_item .item .desc {padding:15px;}*/
 .latest.latest_news .big_item .item .desc .text {font-size: 14px;line-height: 18px;    color: #313131;}
 .latest .col {width: 100%;margin:0 0 20px;}
 .latest .col:last-child {margin:0 0 30px;}

 .latest .item .desc .tags_new.in_big {display:flex;}
 .latest .item .img .tags_in_img {display:none;}
 .latest.latest_news .big_item .item .desc {position: relative;    padding: 14px 20px 22px;}

	#home_page .subscribe {padding: 20px 100px;display: block;text-align: center;margin: 50px -100px 0;}
	#home_page .subscribe .title {font-size: 24px;margin: 0 0 20px;}
	#home_page .subscribe .btn {width: 190px;margin:0 auto;}
	#home_page .network_widget {margin: 50px 0px 40px;}
	#home_page .network_widget .col {width: 100%;margin: 0px 0px 30px;}
	footer .col1 {width: 100%;}
	footer .col2 {width: 100%;}
	footer #pageup {display: none;}
	footer .info {padding: 10px;}
	footer .info img.fl_left {margin-right: 10px;}
	footer .info img.fl_right {margin-left: 10px;}
	footer .info p {font-size: 12px;line-height: 14px;padding-top: 2px;letter-spacing: -1px;}
	footer .info p.center {clear: both;padding-top: 10px;text-align: left;}
	footer .col3 ul li {margin-right: 10px;}

	#breadcrumbs .content {overflow: hidden;}
	#breadcrumbs ul {width: 9999px;}

	#single_page h1 {font-size: 28px;margin-bottom: 0.5em;}
	.map_wrap {height: 350px;}
	.map_wrap .map {transform: scale(0.38) translate(-700px, -300px);}
	.map_wrap .map .marker {border:12px solid #009ad7;}

	#country_page  h1 {font-size: 28px;margin-bottom: 0.5em;}
	#country_page .map_wrap {height:200px;padding: 0px 0px;}

	#news_page .latest {padding:20px 0 80px;margin:0 0;}
	.news_tab li {margin: 0px 15px 0px 0px;}
	.news_tab li a {padding: 22px 5px 20px;}
	.tags_list li {display:inline-block;margin:0 10px 10px 0;}
	/*.pagination ul li.long, .pagination ul li.arrows {display:none;}*/
	.pagination ul li:not(.long):not(.arrows):nth-child(5),
	.pagination ul li:not(.long):not(.arrows):nth-child(6) {display: none;}
	.pagination ul li {margin: 0px 0px;}
	.pagination ul li.long {width: 30px;}

	#videos_page {padding:0 0 70px;}
	.videos .item .video {margin:0 0 15px;}
	.videos .item .date {font-size: 12px;line-height: 14px;}
	.videos .item .title {font-size: 18px;line-height: 22px;}

	#photos_page {padding:0 0 70px;}

	.calendar_wrap .head .change_week button.next {margin-left:5px;}
	.calendar_wrap .head .change_month span {margin: 0 5px;}

	#gallery_modal .modal_content {margin:50px 0;padding: 30px 20px;}
	#gallery_modal .modal_close {top: 10px;right: 10px;transform: scale(0.7);}
}
@media screen and (max-width:600px) {
	.gallery .gallery-top {height: 220px;}
	.gallery .gallery-thumbs {display:none;}

}
