.loaderArea {
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.dataTables_filter input, .dataTables_length select{
	margin: 0 10px;
}