<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{$data['title']}}</title>
</head>
<body style="margin: 0;padding: 0;">
    <table align="center" cellpadding="0" cellspacing="0" width="100%" style="background-color:#2964b0;">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="700">
                    <tr>
                        <td style="padding: 10px;color: #fff;font-family: arial;font-size: 16px;">
                            <table>
                                <tr>
                                    <td style="color: #fff;font-family: arial;font-size: 16px;">P2P On-demand<br>support</td>
                                    <td><img src="http://ask.tacso.eu/assets/img/footer_img_1.png" alt="" style="margin-right: 16px;margin-left: 16px;"/> </td>
                                    <td style="color: #fff;font-family: arial;font-size: 16px;">Technical Assistance<br>for Civil Society Organisations</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            {{--<a href="#"><img src="http://ask.tacso.eu/assets/img/mail/fb.png" alt="" /></a>
                            <a href="#"><img src="http://ask.tacso.eu/assets/img/mail/tw.png" alt="" /></a>
                            <a href="#"><img src="http://ask.tacso.eu/assets/img/mail/youtube.png" alt="" /></a>--}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table align="center" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="700">
                    <tr>
                        <td align="center" style="padding: 50px;font-family: arial;">
                            <h1>Hello, {{$data['user']}}</h1>
                            <p>We are glad to inform you that your application has been approved and granted access to fill out the second part of the application.</p>
                            <p>You can continue entering data into the application at <a href="ask.tacso.eu">ask.tacso.eu</a></p>
                            <p>Respectfully,</p>
                            <p>Project <strong>TACSO.EU</strong></p>
                            <img src="http://ask.tacso.eu/assets/img/mail/image.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table align="center" cellpadding="0" cellspacing="0" width="100%" style="background-color:#2964b0;">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="700">
                    <tr>
                        <td valign="top" style="padding: 10px;;color: #fff;font-family: arial;font-size: 14px;"><table><tr><td valign="top"><img src="http://ask.tacso.eu/assets/img/mail/location.png" alt="" /></td><td style="color: #fff;font-family: arial;font-size: 14px;">EU TACSO 3 Project (GDSI) <br />
Str. Blagoj Davkov n.1-4/14<br />
1000 Skopje, North Macedonia</td></tr></table>
                        </td>
                        </td>
                        <td valign="top" style="padding: 10px;;color: #fff;font-family: arial;font-size: 14px;">
                            <table><tr><td><img src="http://ask.tacso.eu/assets/img/mail/phone.png" alt="" /></td><td style="color: #fff;font-family: arial;font-size: 14px;"> +387 33 847 604</td></tr></table>
                        </td>
                        <td valign="top" style="padding: 10px;;color: #fff;font-family: arial;font-size: 14px;">
                            <table><tr><td><img src="http://ask.tacso.eu/assets/img/mail/email.png" alt="" /></td><td style="color: #fff;font-family: arial;font-size: 14px;"> welcome@tacso.eu</td></tr></table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>